<table id="swimlanes">
  <thead>
    <tr>
      <% @swimlanes.each do |swimlane| -%>
        <th><%= swimlane.name %></th>
      <% end -%>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @swimlanes.each do |swimlane| -%>
        <td>
          <ul id="swimlane-<%= swimlane.id %>" class="swimlane">
            <% swimlane.cards.each do |card| -%>
              <li id="card-<%= card.id %>">
                <h3><%= card.title %></h3>
                <div class="move-widget">
                  <%= form_for(card, :url => card_moves_path(card), :html => { :method => :post}) do |f| %>
                    <%= f.label :swimlane_id, "Move to" %>
                    <%= f.select :swimlane_id, Swimlane.all.collect {|p| [ p.name, p.id ] } %>
                    <%= f.submit "Move" %>
                  <% end %>
                </div>
              </li>
            <% end -%>
          </ul>
        </td>
      <% end -%>
    </tr>
  </tbody>
</table>
